html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #f4f3f3; /* Same background color as Google Maps */
}

#map {
  height: calc(100vh - 150px);
  display: flex;
  /* float: right; */
}

#legend {
  font-family: Arial, sans-serif;
  background: #fff;
  padding: 10px;
  margin: 10px;
  border: 3px solid #000;
}
#legend h3 {
  margin-top: 0;
}
#legend img {
  /* vertical-align: top; */
}

#dbOutput {
  height: calc(100vh - 200px);
  overflow: scroll;
  /* z-index: 2; */
}

#login-display-name {
  color: rgb(242, 248, 246);
  margin: 0px;
  padding: 0px;
  float: right;
  font-size: 12px;
  background-color: gray;
  border-radius: 5px

}

.banner img{
  height: 75px;
  width: 75px;
  
}

.banner {
  height: 120px;
  background-color: rgb(221, 240, 240);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;

  
}

.logo {
  font-style: oblique;
  font-family: fantasy;
  font-size: 25px;
  padding-top:25px;
  padding-left: 0px;
  display: inline-block
}

.banner h5 {
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;

}

.banner-second-line {
  width: 200%

}



